* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 7.5rem;
}

/* general styling */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 200%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('/ireland-2345992_1920.jpg');
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: impact, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  text-shadow: 2px 2px #ff0000;
}

.container {
  color: #ccff00;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

.credits {
  color: #ccff00;
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}
